body {
    background: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    background-color: #121116;
}

input, textarea, select {
    outline: none;
    font-family: Arial;
    font-size: 12px;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
    color: #545454;
}

.mainer {
    max-width: 1170px;
    margin: 0 auto;
}

.logo {
    text-align: center;
    padding-top: 120px;
    margin-bottom: 50px;
}

.social-part {
    color: white;
    text-align: center;
    margin: 0 auto;
}

.social-part .caption {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 18px;
}

.social-part .line {
    width: 230px;
    text-align: center;
    margin-bottom: 18px;
}

.social-part .social-logos {
    margin: 15px 15px 80px 15px;
}

footer p {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}